#leftBG {
    flex:1;
}

#rightBG {
    flex:1;
}

#rightWin{
    overflow: hidden;
    -ms-align-items: left;
    align-items: left;
}

html, body{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#mainContainer {
    flex: 1;
    flex-basis: 0;
    align-self: flex-start;
    justify-self: flex-start;
    height: 95vh;
    box-shadow: 0 -2px 20px rgba(0,0,0,0.5);
    
}



.windowouter {
	flex: 1;
    flex-basis: 0;
    flex-direction: column;
    text-align: center;
	flex-grow: 3;
	padding: 0px 10px 10px 10px;
	backdrop-filter: blur(10px);
	border-radius: 5px;
	background-color: rgba(130, 200, 220, 0.3);
	border: 1px solid rgba(0, 0, 0, 1);
	box-shadow: 0 0px 10px rgba(0, 0, 0, 0.6),
    inset 0 0 0 1px rgba(255, 255, 255, 1),
    inset 0 0 10px rgba(255, 255, 255, 0.8),
    inset 0 0 30px rgba(255, 255, 255, 0.5),
    inset 0 0 60px rgba(255, 255, 255, 0.2);
}

.windowmaininnards {
    text-align:center;
    
    overflow: scroll;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: 0;
	flex: 1;
    flex-basis: 0;
	height: 96%;
    width:100%;
	min-height: 96%;
	max-height: 96%;
	backdrop-filter: blur(5px);
	align-self: flex-start;
	justify-self: flex-end;
	background-color: rgba(236, 236, 236, 0.99);
	border: 1px solid rgba(0, 0, 0, 1);
	box-shadow: 0 0 0 1px rgba(255, 255, 255, 1),
     0 0 10px rgba(255, 255, 255, 0.8),
     0 0 30px rgba(255, 255, 255, 0.5),
     0 0 60px rgba(255, 255, 255, 0.2);
	;
}

.windowmaininnards::-webkit-scrollbar{
    display: none;
}

.windowtopbar{
    width:100%;
    flex:1;
    min-height:4%;
    height:4%;
    align-self: flex-start;
    justify-self: flex-start;
    display: flex;
    flex-direction: row;

}

.windowtopbartext{
    font-family: Arial, Helvetica, sans-serif;
    flex:1;
    align-self: center;
    text-align: left;
}

.windowtopbarbuttons{
    height: 60%;
    flex:1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
