html,
body {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#mainContainer {
    position: relative;
    width: 100%;
    height: 100%;
    flex: 1;
    flex-basis: 0;
    align-self: flex-start;
    justify-self: flex-start;
    box-shadow: 0 -2px 20px rgba(0, 0, 0, 0.5);

}



.windowouter {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: absolute;
    top: 5%;
    left: 10%;
    width: 80%;
    height: 85%;
    padding: 0px 10px 10px 10px;
    backdrop-filter: blur(2px);
    resize: both;
    overflow: hidden;
    border-radius: 5px;
    background-color: rgba(130, 200, 220, 0.3);
    border: 1px solid rgba(0, 0, 0, 1);
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.3),
        inset 0 0 0 1px rgba(255, 255, 255, 0.5),
        inset 0 0 10px rgba(255, 255, 255, 0.6),
        inset 0 0 30px rgba(255, 255, 255, 0.3),
        inset 0 0 60px rgba(255, 255, 255, 0.1);
}

#Main.windowouter {
    z-index: 1;
    top: 3%;
    left: 2%;
    width: 72%;
    height: 65%;
}

#UserA.windowouter {

    z-index: 0;
    top: 69%;
    left: 46%;
    width: 20%;
    height: 31%;
    resize: none;
}

#UserB.windowouter {


    z-index: 0;
    top: 69%;
    left: 68%;
    width: 20%;
    height: 31%;
    resize: none;
}

#UserC.windowouter {
    z-index: 0;
    top: 37%;
    left: 77%;
    width: 20%;
    height: 31%;
    resize: none;
}

#chatbot.windowouter {
    z-index: 0;
    top: 69%;
    left: 24%;
    width: 20%;
    height: 31%;
    resize: none;
}

#UserE.windowouter {
    z-index: 0;
    top: 69%;
    left: 2%;
    width: 20%;
    height: 31%;
    resize: none;


}

#UserF.windowouter {
    z-index: 0;
    top: 3%;
    left: 77%;
    width: 20%;
    height: 31%;
    resize: none;
}

#chatbot .windowmaininnards {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#UserE img {
    position: relative;
    scale: 140%;
    top: inherit;

    left: 15%;
}

.chat-window {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1;
}

#chatInput {
    flex: 1;
    width: 93%;
    border-radius: 0px;
}

#chatButton {
    flex: 1;
    border-radius: 0px;
}

#chatOutput {
    flex-grow: 1;
    overflow-wrap: break-word;
    color: black;
}


#UserF .windowmaininnards {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('rickroll.gif');
}

#UserA .windowmaininnards {
    background-size: cover;
    background-position: -10px;
    background-repeat: no-repeat;
    background-image: url('Craig.png');
    background-blend-mode: multiply;
}

#UserB .windowmaininnards {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('Dave.jpg');
    background-blend-mode: multiply;
}

#UserE .windowmaininnards {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('ena spin.webp');
    background-blend-mode: multiply;
}


#chatbot .windowtopbar {
    backdrop-filter: blur(0px);
}

.windowmaininnards {
    isolation: isolate;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: 0;
    flex: 1 1 auto;
    min-height: 0;
    width: 100%;
    backdrop-filter: blur(5px);
    align-self: flex-start;
    justify-self: flex-end;
    background-color: #ffffdb;
    border: 1px solid rgba(0, 0, 0, 1);
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.7),
        0 0 10px rgba(255, 255, 255, 0.6),
        0 0 30px rgba(255, 255, 255, 0.5),
        0 0 60px rgba(255, 255, 255, 0.2);
    ;
}

.windowmaininnards::-webkit-scrollbar {
    display: none;
}

.windowtopbar {
    cursor: grab;
    user-select: none;
    width: 100%;
    flex: 0 0 30px;
    min-height: 30px;
    height: 30px;
    align-self: flex-start;
    justify-self: flex-start;
    display: flex;
    flex-direction: row;
    color: #000;

}

.windowtopbartext {
    font-family: Arial, Helvetica, sans-serif;
    flex: 1;
    align-self: center;
    text-align: left;
}

.windowtopbarbuttons {
    height: 60%;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#weather-widget {
    text-align: center;
    color: black;
}

h3 #weather-widget {
    font-size: 30px;
}

div #weather-widget {
    padding-top: 10px;
    font-size: 20px;
}

p {
    color: black;
    font-size: 20px;
    padding-left: 10px;
}

.main-text-content {
    margin-bottom: 15px;
}

.main-gif-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 100%;
    box-sizing: border-box;
    padding: 0 10px;
}

.main-gif-grid img {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 5px;
}