
html, body{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#mainContainer {
    width: 100%;
    height: 100%;
    flex: 1;
    flex-basis: 0;
    align-self: flex-start;
    justify-self: flex-start;
    box-shadow: 0 -2px 20px rgba(0,0,0,0.5);
    
}



.windowouter {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
	position: absolute; 
    top: 5%; 
    left: 10%; 
    width: 80%; 
    height: 85%;
	padding: 0px 10px 10px 10px;
	backdrop-filter: blur(10px);
    resize: both;
    overflow: hidden;
	border-radius: 5px;
	background-color: rgba(130, 200, 220, 0.3);
	border: 1px solid rgba(0, 0, 0, 1);
	box-shadow: 0 0px 10px rgba(0, 0, 0, 0.6),
    inset 0 0 0 1px rgba(255, 255, 255, 1),
    inset 0 0 10px rgba(255, 255, 255, 0.8),
    inset 0 0 30px rgba(255, 255, 255, 0.5),
    inset 0 0 60px rgba(255, 255, 255, 0.2);
}

.windowmaininnards {
    text-align:center;
    
    overflow: scroll;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: 0;
	flex: 1 1 auto;
    min-height: 0;
    width:100%;
	backdrop-filter: blur(5px);
	align-self: flex-start;
	justify-self: flex-end;
	background-color: #ffffb9;
	border: 1px solid rgba(0, 0, 0, 1);
	box-shadow: 0 0 0 1px rgba(255, 255, 255, 1),
     0 0 10px rgba(255, 255, 255, 0.8),
     0 0 30px rgba(255, 255, 255, 0.5),
     0 0 60px rgba(255, 255, 255, 0.2);
	;
}

.windowmaininnards::-webkit-scrollbar{
    display: none;
}

.windowtopbar{
    cursor: grab;
    user-select:none;
    width:100%;
    flex: 0 0 30px;
    min-height:30px;
    height:30px;
    align-self: flex-start;
    justify-self: flex-start;
    display: flex;
    flex-direction: row;

}

.windowtopbartext{
    font-family: Arial, Helvetica, sans-serif;
    flex:1;
    align-self: center;
    text-align: left;
}

.windowtopbarbuttons{
    height: 60%;
    flex:1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
