.crossTopButton{
    width: 60px;
    border-radius: 0px 0px 5px 5px;
    border: none;
    border-left: solid 1px #000000;
    border-right: solid 1px #000000;
    border-bottom: solid 1px #000000;
    background: linear-gradient(to bottom, #cfcfcf 0%, #949494 50%, #cfcfcf 100%);
    box-shadow: inset 0 0 0 1px  rgba(255, 255, 255, 1),
     0 0 5px rgba(255, 255, 255, 0.8);
}

.crossTopButton:hover {
	background: linear-gradient(to bottom, #fa8c8c 0%, #fa2a2a 50%, #fa8c8c 100%);
	box-shadow: inset 0 0 0 1px  #ff8f8f,
    0 0 5px rgba(255, 255, 255, 0.8);
	transition: ease-out 0.2s;
}

.topButton{
    width: 60px;
    border-radius: 0px 0px 5px 5px;
    border: none;
    border-left: solid 1px #000000;
    border-right: solid 1px #000000;
    border-bottom: solid 1px #000000;
}

.resetimage {
    width: 20px;
    height: 20px;
}
