.chat-window {
	min-height: 100%;
	max-height: 100%;
	display: flex;
	flex-direction: column;
	align-self: flex-start;
	width: auto;
}

.chat-history{
    flex:1;
    flex-basis: 0;
    overflow-y: scroll;
    text-align: left;
    background-color: rgba(233, 233, 233, 0);
    display: flex;
    flex-direction: column;
}

.chat-input{
    height:40px;
    border-top: solid 1px #000000;
    background-color: rgba(200, 200, 200, 0.8);
    display: flex;
    gap: 5px;
    padding: 5px 5px 5px 5px;
    flex-direction: row;
}

#chatButton {
    flex:1;
    flex-grow: 1;
    background: linear-gradient(to bottom, #ffffff 50%, #949494 100%);
}

#chatButton:hover {
    background: linear-gradient(to bottom, #dbdbdb 50%, #636363 100%);
}



#chatinput{
    flex:1;
    flex-grow: 1;
}
