
.chat_message  {
    display: flex;
    flex-direction: row;
    width: 95%;
    background-color: rgba(130, 200, 220, 0.1);
    align-items: flex-start ;
    border-radius: 5px;
    margin:5px auto;
    border: 1px solid rgba(0, 0, 0, 1);
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.6),
    inset 0 0 0 1px rgb(255, 255, 255),
    inset 0 0 5px rgba(255, 255, 255, 0.8),
    inset 0 0 15px rgba(255, 255, 255, 0.5),
    inset 0 0 30px rgba(255, 255, 255, 0.2);
}

.chat_message_icon{
    flex:1;
    flex-grow: 1;
    border-radius: 5px;
    max-width: 10%;
}

.chat_message_reload{
    flex:1;
    margin-right: 5px;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: right;
    justify-content: right;
}

.chat_message_reload_button {
    border: none;
    max-width: 15px;
    max-height: 15px;
    padding: 0;
    background: none;
    box-shadow: none;
    cursor: pointer;
}
.chat_message_reload_button:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.chat_message_content{
    flex:1;
    flex-grow: 10;
    display: flex;
    flex-direction: column;
}

.chat_message_info_text{
    flex:1;
    font-size: small;
    padding: 3px;
}

.chat_message_info{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    
    max-height:18px;
    background-color: rgba(0, 0, 0, 0.2);

}

.chat_message_text{
    flex:1;
    flex-grow: 4;
    color: black;
    padding-left: 10px;

}