

.icon_Input{
    background: #FFFFFF;
    width: 60%;
    overflow: hidden;
    padding:2px;
    text-align: left;
}


.input {
    bottom: 0;
    width: 85%;
    padding: 10px;
    text-align: left;
    border: 1px solid #000000;
    background: #F1F1F1;
    border-radius: 5px;
    color: #000000;
    box-shadow:
    inset 0 0 0 1px rgba(255, 255, 255, 1),
    inset 0 0 10px rgba(255, 255, 255, 0.8),
    inset 0 0 30px rgba(255, 255, 255, 0.5),
    inset 0 0 60px rgba(255, 255, 255, 0.2);
}




button {
    color: black;
    border:solid 1px #000000;
    border-radius: 5px;
    cursor: pointer;
}


.flex-container {
    display: flex;
    flex-direction: row; 
    justify-content: center; 
    flex-wrap: wrap;
    gap: 5px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-image: url('frutigerBG.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: #e0e0e0;
    
}


header {
    text-align: center;
    margin-bottom: 40px;
}

.inplabel{
    color: #000000;
    font-size: small;
}


#Chatbot_model{
    padding:2px;
}
#Chatbot_personality{
    padding: 5px;
    resize: vertical;
}
#scenario{
    padding: 5px;
    resize: vertical;
}
#user_personality{
    padding: 5px;
    resize: vertical;
}

#system_prompt{
    padding: 5px;
    resize: vertical;
}

#pre_history_prompt{
    padding: 5px;
    resize: vertical;
}

#post_history_prompt{
    padding: 5px;
    resize: vertical;
}

.slider {
  width: 85%;
  background: linear-gradient(to bottom, #cfcfcf 0%, #949494 50%, #cfcfcf 100%);  outline: none;
  border-radius: 5px;
  border: solid 1px #000000;
  box-shadow: 
    inset 0 0 0 1px rgba(255, 255, 255, 1),
    inset 0 0 10px rgba(255, 255, 255, 0.8),
    inset 0 0 30px rgba(255, 255, 255, 0.5),
    inset 0 0 60px rgba(255, 255, 255, 0.2);
  padding: 0;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  border: solid 1px;
  background: #2c2c2c;
  box-shadow: 
    inset 0 0 0 1px rgba(255, 255, 255, 1),
    inset 0 0 10px rgba(255, 255, 255, 0.8),
    inset 0 0 30px rgba(255, 255, 255, 0.5),
    inset 0 0 60px rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 10px;
  height: 10px;
  background: #ffffff;
  box-shadow: 
    inset 0 0 4px 0 rgba(0, 0, 0, 0.8);
  cursor: pointer;
}


textarea {
    bottom: 0;
    width: 90%;
    padding: 10px;
    text-align: left;
    border: 1px solid #333;
    border-radius: 2px;
    color: #000000;
    
}







.result-box {
    margin-top: 20px;
    padding: 30 px;
    border: 1px dashed #555;
    background: #1e1e1e;
    height: 60px;
    overflow-y: scroll;
    color: #e0e0e0;
    white-space: pre-wrap;
}




#username {
    font-size: x-small;
    padding: 5px;
}
#charname {
    font-size: x-small;
    padding: 5px;
}
.sideBySideInput {
    flex:1;
    font-size: x-small;
}

#charuser {
    width: 100%;
    gap:5px;
}
