.taskbar{
    flex: 1;
    align-self: flex-end;
    justify-self: flex-end;
    width: 100%;
    position: fixed;
    height: 5vh;
    background: rgba(0, 162, 237 , 0.2);
    backdrop-filter: blur(5px);
    border-top: solid 1px rgba(255, 255, 255, 0.5);
    box-shadow:  0 0 0 1px rgba(0, 0, 0, 1);
    display: flex;
    flex-direction: row;
    align-items: center;
}

img.windowsIcon{
    flex: 1;
    aspect-ratio: 1 / 1;
    height: 40px;
    width: 40px;
    max-width: 40px;
    margin-right: 40px;
}

.TBitem{
    flex:1;
    aspect-ratio: 1 / 1;
    height: 40px;
    width: 40px;
    max-width: 40px;
}

